<div id="footer" class="container-fluid footer" style="margin-top: 50px">
    <div id="" class="container" style="padding-bottom: 30px;border-top: solid 1px #d2d2d2">
        <div style="text-align: center;border-top: dashed 1px #eee;margin-top: 20px">
            <ul class="inline">
                @*<li>© Copyright 2014</li>
                <li>@Html.RouteLink("About us","Static",new {action = "about"})</li>
                <li>@Html.RouteLink("Terms and Conditions","Static",new {action = "terms"})</li>
                <li>@Html.RouteLink("Privacy","Static",new {action = "privacy"})</li>
                <li>@Html.RouteLink("Contact us","Static",new {action = "Contact"})</li>
                <li>@Html.RouteLink("Report Bug","Static",new {action = "Contact"})</li>*@
            </ul>
        </div>
    </div>
</div>



@*<div class="row" style="padding-bottom: 30px;padding-top: 20px">
            <div class="span4">
                <ul class="unstyled">
                    <li><b>Job Seeker</b></li>
                    <li>
                        @Html.RouteLink("About us","Static",new {action = "about"})
                    </li>
                    <li>
                        @Html.RouteLink("Terms &amp; Conditions","Static",new {action = "terms"})
                    </li>
                    <li><a href="/privacy">Privacy</a></li>
                    <li class="last_item"><a href="#">Cookies</a></li>
                </ul>
            </div>
             <div class="span4">
                <ul class="unstyled">
                    <li>&nbsp;</li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/terms">Terms &amp; Conditions</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                    <li class="last_item"><a href="#">Cookies</a></li>
                </ul>
            </div>
            <div class="span4">
                <ul class="unstyled">
                    <li><b>Employer</b></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/terms">Terms &amp; Conditions</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                    <li class="last_item"><a href="#">Cookies</a></li>
                </ul>
            </div>

        </div>*@